# pyhsical contraints file
# iCE40HX8K-EVB board

#set_io clk J3		# clock 100 MHz
set_io clk R9

set_io led[0] C8	# LED1
set_io led[1] F7   # LED2
#set_io led[2] K9

set_io but[0] B7   # BUT1
set_io but[1] B3   # BUT2

set_io uart_tx T14  # UART-TX on UEXT connector
set_io uart_rx T11  # UART-RX on UEXT connector

# SRAM chip 1M byte organized as 512k * 16 bit.
set_io sram_a[0] P1
set_io sram_a[1] N3
set_io sram_a[2] R1
set_io sram_a[3] P2
set_io sram_a[4] T1
set_io sram_a[5] T8
set_io sram_a[6] P6
set_io sram_a[7] M6
set_io sram_a[8] P7
set_io sram_a[9] M11
set_io sram_a[10] N10
set_io sram_a[11] P5
set_io sram_a[12] N5
set_io sram_a[13] P4
set_io sram_a[14] M5
set_io sram_a[15] J5
set_io sram_a[16] K5
set_io sram_a[17] N2
set_io sram_a[18] P8

set_io sram_d[0] T2
set_io sram_d[1] R3
set_io sram_d[2] T3
set_io sram_d[3] R4
set_io sram_d[4] R5
set_io sram_d[5] T5
set_io sram_d[6] R6
set_io sram_d[7] T6
set_io sram_d[8] N4
set_io sram_d[9] M4
set_io sram_d[10] L6
set_io sram_d[11] M3
set_io sram_d[12] L4
set_io sram_d[13] L3
set_io sram_d[14] K4
set_io sram_d[15] K3


#set_io sram_csn T6		# SRAM chip enabled not
#set_io sram_oen L9      # SRAM output enabled not
#set_io sram_wen T7      # SRAM write enabled not

set_io sram_csn M7
set_io sram_oen  L5
set_io sram_wen  T7

set_io sram_lbn  J4
set_io sram_ubn  J3

# SD CARD connected to JTAG connector
set_io sd_miso L7      # TDI data in
set_io sd_mosi G5      # TDO data out
set_io sd_sck N6       # TCK serial clock
set_io sd_ss L9        # TMS chip enabled not
